PORT="8000"
MONGO_URL="mongodb://localhost:27017/OddFood"
PRIVATE_KEY="256 bits key"
# BB PIX API
BB_PIX_API_URL="https://api-pix.hm.bb.com.br"
BB_PIX_API_SECRET="YOUR_SECRET"
BB_PIX_API_ID="YOUR_ID"
BB_PIX_API_APP_KEY="YOUR_APP_KEY"
